<ul class="dropdown-menu">
	<li><a href="<%= browse_filter_path('php') %>">PHP</a></li>
	<li><a href="<%= browse_filter_path('ruby') %>">Ruby</a></li>
	<li><a href="<%= browse_filter_path('rails') %>">Ruby on Rails</a></li>
	<li><a href="<%= browse_filter_path('facebook') %>">Facebook</a></li>
	<li><a href="<%= browse_filter_path('blogging') %>">Blogging</a></li>
	<li><a href="<%= browse_filter_path('squarespace') %>">SquareSpace</a></li>
</ul>