<section class="separator-one">
	<div class="color-overlay">
		<div class="container">
			<form role="form" class="subscription" action="#">
				<div class="col-xs-8 col-xs-offset-2">
					<input type="text" class="form-control search-input-box search-box" placeholder="Search for internships">
				</div>
			</form>
		</div>
	</div>
</section>

<section class="separator-white">
	<div class="container">
		<ul class="nav nav-pills nav-justified middle-nav">
			<li role="presentation">
				<a class="middle-nav-item" href="/browse/acct_finance">acct/finance</a>
			</li>
			<li role="presentation">
				<a class="middle-nav-item" href="/browse/dev">dev</a>
			</li>
			<li role="presentation">
				<a class="middle-nav-item" href="/browse/design">design</a>
			</li>
			<li role="presentation">
				<a class="middle-nav-item" href="/browse/engineer">engineer</a>
			</li>
			<li role="presentation">
				<a class="middle-nav-item" href="/browse/life_science">life/science</a>
			</li>
			<li role="presentation">
				<a class="middle-nav-item" href="/browse/marketing">marketing</a>
			</li>
			<li class="dropdown" role="presentation">
				<a aria-expanded="false" aria-haspopup="true" role="button" href="#" data-toggle="dropdown" class="dropdown-toggle middle-nav-item">
					Skills
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li><a href="#">Action</a></li>
					<li><a href="#">Another action</a></li>
					<li><a href="#">Something else here</a></li>
					<li class="divider" role="separator"></li>
					<li><a href="#">Separated link</a></li>
				</ul>
			</li>
		</ul>
	</div>
</section>

<%= @url %>

<section class="vacancies">
	<div class="container">
		<% @vacancies.each do |vacancy | %>
			<div class="row vacancy-item">
				<div class="col-lg-1 text-center space-bottom-20">
					<a>
						<%= image_tag(vacancy.vacancy_company_logo, :class => 'img-responsive center-block') %>
					</a>
				</div>
				<div class="col-lg-7 space-bottom-20">
					<div class="row">
						<div class="col-sm-6">
							<h2><%= vacancy.vacancy_company_name %></h2>
							<h4><a><%= @types[vacancy.vacancytype_id] %> </a></h4>
							<h4><i class="fa fa-map-marker"></i> Remote</h4>
						</div>
						<div class="col-sm-6 text-center vacancy-salary">
							<h2>$<%= number_with_delimiter(vacancy.vacancy_salary) %></h2>
						</div>
					</div>
				</div>
				<div class="col-lg-2 share-vacancy text-center">
					<span class="label label-default label-block">FACEBOOK</span>
					<span class="label label-default label-block">ADS</span>
					<span class="label label-default label-block">SEO</span>
				</div>
				<div class="col-lg-2 apply-to-vacancy">
					<a class="btn btn-default btn-xlg">APPLY</a>
				</div>
				<div class="row vacancy-learn-more" style="display: none;">
					<div class="col-xs-12">
						<h3><%= vacancy.vacancy_company_name %></h3>
						<% vacancy.tags.each do |tag| %>
							<span class="label label-turq"><%= tag.tag_title %></span>
						<% end %>
						<p class="text-left">
							<%= vacancy.vacancy_description %>
						</p>
					</div>
				</div>
				<div class="row space-top-10">
					<div class="col-xs-12 text-center">
						<a class="btn btn-default btn-xlg btn-turq learn-more">Learn more</a>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</section>

<section class="separator-two">
	<div class="color-overlay">
		<div class="container">
			<a class="btn btn-default btn-lg btn-load-more">+ Load more</a>
		</div>
	</div>	
</section>