<section class="top-main">
	<div class="container">
		<div class="section-header">
			<h3>"Internships are broken..."</h3>
			<h2>We surface and build the <strong>best</strong> internships from <strong>innovate</strong> companies.</h2>
		</div>
	</div>
</section>

<section class="why-main">
	<div class="container-fluid">
		<div class="col-sm-6 green-bg">
			<div class="row">
				<div class="col-xs-10">
					<h2>Why are we the best for <a href="<%= why_interns_path %>">interns</a>?</h2>
				</div>
				<div class="col-xs-2">
					<i class="fa fa-chevron-right fa-2x"></i>
				</div>
			</div>
		</div>
		<div class="col-sm-6 white-bg">
			<div class="row">
				<div class="col-xs-10">
					<h2>Why are we the best for <a href="<%= why_companies_path %>">companies</a>?</h2>
				</div>
				<div class="col-xs-2">
					<i class="fa fa-chevron-right fa-2x"></i>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="emails">
	<div class="container">
		<h2 class="space-bottom-35">Get weekly emails on internship content</h2>
		<form role="form" class="subscription" action="#">
			
				<input type="text" class="form-control input-box" placeholder="Name">
				<input type="text" class="form-control input-box" placeholder="Email">
				<button class="btn btn-primary custom-button turq-btn">Subscribe</button>
			
		</form>
	</div>
</section>

<section class="separator-one">
	<div class="color-overlay">
		<div class="container">
			<form role="form" class="subscription" action="#">
				<input type="text" class="form-control input-box search-box" placeholder="Search for internships">
			</form>
		</div>
	</div>
</section>

<section class="separator-white">
	<div class="container">
		<ul class="nav nav-pills nav-justified middle-nav">
			<li role="presentation">
				<a class="middle-nav-item" href="/browse/acct_finance">acct/finance</a>
			</li>
			<li role="presentation">
				<a class="middle-nav-item" href="/browse/dev">dev</a>
			</li>
			<li role="presentation">
				<a class="middle-nav-item" href="/browse/design">design</a>
			</li>
			<li role="presentation">
				<a class="middle-nav-item" href="/browse/engineer">engineer</a>
			</li>
			<li role="presentation">
				<a class="middle-nav-item" href="/browse/life_science">life/science</a>
			</li>
			<li role="presentation">
				<a class="middle-nav-item" href="/browse/marketing">marketing</a>
			</li>
			<li class="dropdown" role="presentation">
				<a aria-expanded="false" aria-haspopup="true" role="button" href="#" data-toggle="dropdown" class="dropdown-toggle middle-nav-item">
					Skills
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li><a href="#">Action</a></li>
					<li><a href="#">Another action</a></li>
					<li><a href="#">Something else here</a></li>
					<li class="divider" role="separator"></li>
					<li><a href="#">Separated link</a></li>
				</ul>
			</li>
		</ul>
	</div>
</section>

<%= @url %>

<section class="vacancies">
	<div class="container">
		<% @vacancies.each do |vacancy | %>
			<div class="row vacancy-item">
				<div class="col-sm-6 col-lg-1 text-center space-bottom-20">
					<a>
						<%= image_tag(vacancy.vacancy_company_logo, :class => 'img-responsive center-block') %>
					</a>
				</div>
				<div class="col-sm-6 col-lg-7 space-bottom-20">
					<div class="row">
						<div class="col-sm-6">
							<h2><%= vacancy.vacancy_company_name %></h2>
							<h4><a><%= @types[vacancy.vacancytype_id] %> </a></h4>
							<h4><i class="fa fa-map-marker"></i> Remote</h4>
						</div>
						<div class="col-sm-6 text-center vacancy-salary">
							<h2>$<%= number_with_delimiter(vacancy.vacancy_salary) %></h2>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-2 share-vacancy">
					<a class="btn btn-default btn-block">FACEBOOK</a>
					<a class="btn btn-default btn-block">ADS</a>
					<a class="btn btn-default btn-block">SEO</a>
				</div>
				<div class="col-sm-6 col-lg-2 apply-to-vacancy">
					<a class="btn btn-link btn-lg">APPLY</a>
				</div>
			</div>
		<% end %>
	</div>
</section>

<section class="separator-two">
	<div class="color-overlay">
		<div class="container">
			<a class="btn btn-default btn-lg btn-load-more">+ Load more</a>
		</div>
	</div>	
</section>