<section class="top-main">
	<div class="container">
		<div class="section-header">
			<h3>"Internships are broken..."</h3>
			<h2>We surface and build the <strong>best</strong> internships from <strong>innovate</strong> companies.</h2>
		</div>
	</div>
</section>

<section class="why-main">
	<div class="container-fluid">
		<div class="col-sm-6 green-bg">
			<div class="row">
				<div class="col-xs-12">
					<a class="btn-full" href="<%= why_interns_path %>">
						<h2>Why are we the best for interns? &nbsp; <i class="fa fa-chevron-right fa-1x"></i></h2>
					</a>
					<!--
					<h2>Why are we the best for <a href="<%= why_interns_path %>">interns</a>?</h2>
				-->
				</div>
				<!--
				<div class="col-xs-2">
					<a style="display: inline-block; height: 100%; width: 100%;" href="#">
						<i class="fa fa-chevron-right fa-2x"></i>
					</a>
				</div>
			-->
			</div>
		</div>
		<div class="col-sm-6 white-bg">
			<div class="row">
				<div class="col-xs-12">
					<a class="btn-full" href="<%= why_companies_path %>">
						<h2>Why are we the best for companies?  &nbsp; <i class="fa fa-chevron-right fa-1x"></i></h2>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="emails">
	<div class="container">
		<h2 class="space-bottom-35">Get weekly emails on internship content</h2>
		<form role="form" class="subscription" action="#">
			<input type="text" class="form-control input-box" placeholder="Name">
			<input type="text" class="form-control input-box" placeholder="Email">
			<button class="btn btn-primary custom-button turq-btn">Subscribe</button>
		</form>
	</div>
</section>

<section class="separator-one">
	<div class="color-overlay">
		<div class="container">
			<form role="form" class="subscription" action="#">
				<div class="col-xs-8 col-xs-offset-2">
					<input type="text" class="form-control search-input-box search-box" placeholder="Search for internships">
				</div>
			</form>
		</div>
	</div>
</section>

<section class="separator-white">
	<div class="container">
		<ul class="nav nav-pills nav-justified middle-nav">
			<li role="presentation">
				<a class="middle-nav-item" href="/browse/acct_finance">acct/finance</a>
			</li>
			<li role="presentation">
				<a class="middle-nav-item" href="/browse/dev">dev</a>
			</li>
			<li role="presentation">
				<a class="middle-nav-item" href="/browse/design">design</a>
			</li>
			<li role="presentation">
				<a class="middle-nav-item" href="/browse/engineer">engineer</a>
			</li>
			<li role="presentation">
				<a class="middle-nav-item" href="/browse/life_science">life/science</a>
			</li>
			<li role="presentation">
				<a class="middle-nav-item" href="/browse/marketing">marketing</a>
			</li>
			<li class="dropdown" role="presentation">
				<a aria-expanded="false" aria-haspopup="true" role="button" href="#" data-toggle="dropdown" class="dropdown-toggle middle-nav-item">
					Skills
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li><a href="#">Action</a></li>
					<li><a href="#">Another action</a></li>
					<li><a href="#">Something else here</a></li>
					<li class="divider" role="separator"></li>
					<li><a href="#">Separated link</a></li>
				</ul>
			</li>
		</ul>
	</div>
</section>

<section class="vacancies">
	<div class="container">
		<% @vacancies.each do |vacancy | %>
			<div class="row vacancy-item">
				<div class="col-sm-6 col-lg-1 text-center space-bottom-20">
					<a>
						<%= image_tag(vacancy.vacancy_company_logo, :class => 'img-responsive center-block') %>
					</a>
				</div>
				<div class="col-lg-7 space-bottom-20">
					<div class="row">
						<div class="col-sm-6">
							<h2><%= vacancy.vacancy_company_name %></h2>
							<h4><a><%= @types[vacancy.vacancytype_id] %> </a></h4>
							<h4><i class="fa fa-map-marker"></i> Remote</h4>
						</div>
						<div class="col-sm-6 text-center vacancy-salary">
							<h2>$<%= number_with_delimiter(vacancy.vacancy_salary) %></h2>
						</div>
					</div>
				</div>
				<div class="col-lg-2 share-vacancy text-center">
					<!--
					<a class="btn btn-default btn-block">FACEBOOK</a>
					<a class="btn btn-default btn-block">ADS</a>
					<a class="btn btn-default btn-block">SEO</a>
					-->
					<span class="label label-default label-block">FACEBOOK</span>
					<span class="label label-default label-block">ADS</span>
					<span class="label label-default label-block">SEO</span>
				</div>
				<div class="col-lg-2 apply-to-vacancy">
					<a class="btn btn-default btn-xlg apply-btn" data-toggle="modal" data-target="#apply-form" vacancy-id="<%= vacancy.id %>">APPLY</a>
				</div>
				<div class="row vacancy-learn-more" style="display: none;">
					<div class="col-xs-12">
						<h3 class="vacancy-company"><%= vacancy.vacancy_company_name %></h3>
						<% vacancy.tags.each do |tag| %>
							<span class="label label-turq"><%= tag.tag_title %></span>
						<% end %>
						<p class="text-left">
							<%= vacancy.vacancy_description %>
						</p>
					</div>
				</div>
				<div class="row space-top-10">
					<div class="col-xs-12 text-center">
						<a class="btn btn-default btn-xlg btn-turq learn-more">Learn more</a>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</section>

<section class="separator-two">
	<div class="color-overlay">
		<div class="container">
			<a class="btn btn-default btn-lg btn-load-more">+ Load more</a>
		</div>
	</div>	
</section>

<div class="modal fade" id="apply-form" tabindex="-1" role="dialog" aria-labelledby="vacancyFormLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="vacancyFormLabel">Company</h4>
			</div>
			<div class="modal-body">
				<div class="row modal-form-messages">
					<div id="system-message" class="col-xs-12 alert alert-success">
						<p class="text-center"><strong>Well done! </strong>Request has been sent</p>
					</div>

					<div id="system-error" class="col-xs-12 alert alert-danger">
						<p class="text-center"><strong>Error! </strong></p>
					</div>
				</div>

				<form id="vacancy-form" class="modal-form" action="/candidates" method="post" data-remote="true" accept-charset="UTF-8">
					<div class="form-group">
						<input type="text" id="candidate-name" class="form-control input-box" placeholder="Name" name="candidate[candidate_name]">
						<input type="hidden" id="vacancy_id" name="candidate[vacancy_id]" value="">
					</div>
					<div class="form-group">
						<input type="text" id="candidate-email" class="form-control input-box" placeholder="Email" name="candidate[candidate_email]">
					</div>
					<div class="form-group">
						<input type="text" id="candidate-phone" class="form-control input-box" placeholder="Phone" name="candidate[candidate_phone]">
					</div>
					<div class="form-group no-space-bottom">
						<textarea id="about-candidate" class="form-control input-box" placeholder="About you" name="candidate[candidate_about]"></textarea>
					</div>
					<div class="form-group space-bottom-10">
						<button type="submit" class="btn btn-default btn-turq">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>