<div class="tray tray-center">
	<% if @intern.errors.any? %>
		<div class="alert alert-danger alert-dismissable">
			<button data-dismiss="alert" class="close" type="button">
				<i class="fa fa-times"></i>
			</button>

			<i class="fa fa-info"></i>
			<%= pluralize(@intern.errors.count, "error") %> prohibited this internship from being saved:
			<ul>
				<% @intern.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
		<div class="hr dotted"></div>
	<% end %>

	<%= tinymce %>

	<div class="mw1000 center-block">
		<div class="admin-form theme-primary">
			<div class="panel heading-border panel-primary">
				<div class="panel-body bg-light">
					<%= form_for(@intern) do |f| %>
						<div class="row">
							<div class="col-md-6">
								<div class="section">
									<label class="field">
										<%= f.text_field :intern_name, :placeholder => 'Name *', :class => 'gui-input' %>
									</label>
								</div>
							</div>
							<div class="col-md-6">
								<div class="section">
									<label class="field">
										<%= f.text_field :intern_email, :placeholder => 'Email *', :class => 'gui-input' %>
									</label>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="section">
									<label class="field">
										<%= f.text_area :intern_about, :placeholder => 'About you', :class => 'gui-textarea tinymce' %>
									</label>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="section">
									<label class="field">
										<%= f.text_field :intern_phone, :placeholder => 'Phone', :class => 'gui-input' %>
									</label>
								</div>
							</div>
							<div class="col-md-6">
								<div class="section">
									<label class="field">
										<%= f.text_field :intern_salary, :placeholder => 'Annual salary (optional)', :class => 'gui-input' %>
									</label>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="section">
									<label class="field">
										<%= f.text_field :tag_list, :placeholder => 'Tags (comma separated) *', :class => 'gui-input' %>
									</label>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="section">
									<label class="field">
										<%= f.submit 'Save', :class => 'btn btn-lg btn-info' %>
									</label>
								</div>
							</div>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>